/* ---- Variables ---- */
:root{
    --spc: calc(50vh - 170px)
}

/* ---- Body ---- */
body{
    align-items: center;
    background-image: url(/static/media/Background_OverSized.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
}


/* ---- Main ---- */
.main{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}


/* ---- Img ---- */
.img{
    margin: var(--spc) auto 0px;
    width: 340px;
}

/* ---- Media Query ---- */
@media only screen and (hover: none) and (pointer: coarse){
    :root{
        --spc: calc(50vh - 110px)
    }
}

@media only screen and (hover: none) and (pointer: coarse) and (max-width: 500px){
    :root{
        --spc: calc(50vh - 140px)
    }
}