/* ---- Body ---- */
body{
    align-items: center;
    background-image: url(/static/media/Background_OverSized.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}


/* ---- Main ---- */
.main{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}


/* ---- Register ---- */
.register{
    align-items: center;
    background-image: linear-gradient(135deg, #FFFFFF, #FEFEFE);
    border-radius: 8px;
    box-shadow: 1.5px 1.5px 6px rgb(0,0,0, 0.20);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    margin: auto;
    padding: 32px;
    width: 340px;
}

.register__title{
    background-image: linear-gradient(135deg, #2D3047, #93B7BE);
    background-clip: text;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;

    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.register__content{
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    font-weight: 500;
    gap: 16px;
    justify-content: center;
}

.register__content__input{
    border-bottom: solid #2D3047 1.5px;
    font-size: .8em;
}

.register__content__submit{
    align-items: center;
    background-image: linear-gradient(135deg, #000000, #E3E3E3);
    border-radius: 6px;
    color: white;
    display: flex;
    margin: 20px 0px 12px 0px;
    padding: 10px 20px;
    transition: background-image 250ms linear;
}

.register__new{
    align-items: center;
    background-clip: text;
    background-image: linear-gradient(135deg, #2D3047, #93B7BE);
    border-radius: 24px;
    display: flex;
    font-size: 1em;
    font-weight: 500;

    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* ---- Media Query ---- */
@media (max-width: 500px){
    .register{
        width: calc(100% - 32px);
        padding: 32px 10px;
    }
}

@media only screen and (hover: none) and (pointer: coarse){
    body{
        min-height: calc(100vh - 60px);
    }

    .main{
        height: calc(100vh - 60px);
    }
}