<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
		<link rel="shortcut icon" href="/static/Media/Favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/Norm.css">
		<link rel="stylesheet" href="/static/About.css">
		<title>Marktheo</title>
	</head>
	<body>
		<nav class="nav">
			<img src="/static/Media/Logo.png" alt="logo_image" class="nav_logo">
			<ul class="nav_ul">
                <a class="nav_ul_link" href="/login">
					<span class="material-symbols-rounded">view_quilt</span>
					<span class="nav_ul_link_text">Dashboard</span>
				</a>
                <a class="nav_ul_link" href="/login">
					<span class="material-symbols-rounded">view_list</span>
					<span class="nav_ul_link_text">Schedule</span>
				</a>
                <a class="nav_ul_link" href="/login">
					<span class="material-symbols-rounded">view_module</span>
					<span class="nav_ul_link_text">Calendar</span>
				</a>
                <a class="nav_ul_link" href="/about">
					<span class="material-symbols-rounded">help</span>
					<span class="nav_ul_link_text">About</span>
				</a>
			</ul>
			<a class="nav_login" href="/login">Login</a>
		</nav>

		<div class="product">
			<span class="product_message">Stretch your productivity to the maximum</span>
			<div class="product_item">
				<span class="material-symbols-rounded">monitoring</span>
				<span class="product_item_text">Increase your workflow and performance.</span>
			</div>
			<div class="product_item">
				<span class="material-symbols-rounded">rebase_edit</span>
				<span class="product_item_text">Customize it to your preference.</span>
			</div>
			<a class="product_try" href="/login">Try it for free</a>
		</div>

		<div class="features">
			<span class="features_message">More than just organize</span>
			<hr class="features_message-hr">

			<hr class="features_hr">
			<div class="features_items">
				<span class="features_items_message">Build your workflow as you want</span>
				<div class="features_item">
					<span class="material-symbols-rounded">check_box</span>
					<span class="features_item_text">Personalized checklist for your goals.</span>
				</div>
				<div class="features_item">
					<span class="material-symbols-rounded">date_range</span>
					<span class="features_item_text">Dinamic calendar for your week schedule.</span>
				</div>
				<div class="features_item">
					<span class="material-symbols-rounded">calendar_month</span>
					<span class="features_item_text">Full calendar for annual organization.</span>
				</div>
				<div class="features_item">
					<span class="material-symbols-rounded">edit_square</span>
					<span class="features_item_text">Customizable colors and icons.</span>
				</div>
				<div class="features_item">
					<span class="material-symbols-rounded">lock</span>
					<span class="features_item_text">Safe and reliable database.</span>
				</div>
				<span class="features_items_message-2">Tottally free</span>
				<a class="features_try" href="/login">Start now</a>
			</div>
		</div>

		<footer class="footer">
			<span class="author">© 2022 Marcos Vinícius Theodoro - All rights reserved.</span>
		</footer>

		<script src="/static/Nav.js"></script>
    </body>
</html>