<!DOCTYPE html>
<html>
	<!--Head of the Page-->
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
		<link rel="shortcut icon" href="/static/Media/Favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/Norm.css">
		<link rel="stylesheet" href="/static/About.css">
		<title>Minerva Parking</title>
	</head>

	<!--Body of the Page-->
	<body>
		<!--Navigation Bar-->
		<nav class="nav">
			<img src="/static/Media/Logo.png" alt="logo-image" class="nav__logo">
			<ul class="nav__content">
                <a class="nav__content__link" href="/login">
					<span class="material-symbols-rounded">space_dashboard</span>
					<span class="nav__content__link__text">Dashboard</span>
				</a>
                <a class="nav__content__link" href="/login">
					<span class="material-symbols-rounded">analytics</span>
					<span class="nav__content__link__text">Analytics</span>
				</a>
				<a class="nav__content__link" href="/login">
					<span class="material-symbols-rounded">bike_scooter</span>
					<span class="nav__content__link__text">Vehicles</span>
				</a>
                <a class="nav__content__link" href="/about">
					<span class="material-symbols-rounded">help</span>
					<span class="nav__content__link__text">About</span>
				</a>
			</ul>
			<a class="nav__login" href="/login">Login</a>
		</nav>

		<!--About the Product-->
		<div class="product">
			<span class="product__title">Experience parking as never before</span>
			<div class="product__content">
				<span class="material-symbols-rounded">share_location</span>
				<span class="product__content__span">Track your vehicle wherever it is.</span>
			</div>
			<div class="product__content">
				<span class="material-symbols-rounded">monitoring</span>
				<span class="product__content__span">Monitor your data in real time.</span>
			</div>
			<a class="product__try" href="/login">Try it for free</a>
		</div>

		<!--About the Project Features-->
		<div class="features">
			<span class="features__title">More than just parking</span>
			<hr class="features__title--hr">

			<hr class="features__hr">
			<div class="features__content">
				<span class="features__content__title">Invest in the safety of your vehicle</span>
				<div class="features__content__div">
					<span class="material-symbols-rounded">timer</span>
					<span class="features__content__div__span">Full time operation.</span>
				</div>
				<div class="features__content__div">
					<span class="material-symbols-rounded">speed</span>
					<span class="features__content__div__span">Fast and dynamic parking.</span>
				</div>
				<div class="features__content__div">
					<span class="material-symbols-rounded">credit_score</span>
					<span class="features__content__div__span">Automatic billing available.</span>
				</div>
				<div class="features__content__div">
					<span class="material-symbols-rounded">transportation</span>
					<span class="features__content__div__span">Multiple vehicle registration.</span>
				</div>
				<a class="features__try" href="/login">Start now</a>
			</div>
		</div>

		<!--Footer of the Page-->
		<footer class="footer">
			<span class="author">© 2022 Minerva Parking - All rights reserved.</span>
		</footer>

		<!--Navigation Bar Interactions Script-->
		<script src="/static/Nav.js"></script>
    </body>
</html>