<!DOCTYPE html>
<html>
	<!--Head of the Page-->
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="/static/media/Favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
		<link rel="stylesheet" href="/static/Dashboard.css">
		<link rel="stylesheet" href="/static/Norm.css">
		<title>Minerva Parking</title>
	</head>

	<!--Body of the Page-->
	<body>
		<!--Navigation Bar-->
		<nav class="nav">
			<img src="/static/media/Logo.png" alt="logo-image" class="nav__logo">
			<ul class="nav__content">
				<a class="nav__content__link" href="/login">
					<span class="material-symbols-rounded">space_dashboard</span>
					<span class="nav__content__link__text">Dashboard</span>
				</a>
				<a class="nav__content__link" href="/">
					<span class="material-symbols-rounded">help</span>
					<span class="nav__content__link__text">About</span>
				</a>
			</ul>
			<a class="nav__link" href="/login">Login</a>
		</nav>

		<!--Profile Information-->
		<div class="profile">
			<span class="profile__title">Monitor your Information</span>
			<hr class="profile__title--hr">

			<hr class="profile__hr">
			<div class="profile__content">
				<div class="profile__content__div">
					<span class="profile__content__div__title">Profile</span>
					<div class="profile__content__div__field">
						<span class="material-symbols-rounded">person</span>
						<span class="profile__content__div__span">{{client.getName()}}</span>
					</div>
					<div class="profile__content__div__field">
						<span class="material-symbols-rounded">call</span>
						<span class="profile__content__div__span">{{client.getPhone()}}</span>
					</div>
					<div class="profile__content__div__field">
						<span class="material-symbols-rounded">alternate_email</span>
						<span class="profile__content__div__span">{{client.getEmail()}}</span>
					</div>
					<div class="profile__content__div__field">
						<span class="material-symbols-rounded">pin_drop</span>
						<select class="profile__content__div__span">
							<optgroup label="CCMN">
								<option value="block">Interno</option>
								<option value="block">Externo</option>
							</optgroup>
							<optgroup label="CT">
								<option value="block">Bloco A</option>
								<option value="block">Bloco B</option>
								<option value="block">Bloco C</option>
								<option value="block">Bloco D</option>
								<option value="block">Bloco E</option>
								<option value="block" selected >Bloco F</option>
								<option value="block">Bloco G</option>
								<option value="block">Bloco H</option>
							</optgroup>
						</select>
					</div>
				</div>
				<div class="profile__content__div">
					<span class="profile__content__div__title">Vehicle</span>
					<div class="profile__content__div__field">
						<span class="material-symbols-rounded">domain_add</span>
						<span class="profile__content__div__span">{{vehicle.getBrand()}}</span>
					</div>
					<div class="profile__content__div__field">
						<span class="material-symbols-rounded">transportation</span>
						<span class="profile__content__div__span">{{vehicle.getModel()}}</span>
					</div>
					<div class="profile__content__div__field">
						<span class="material-symbols-rounded">format_paint</span>
						<span class="profile__content__div__span">{{vehicle.getColor()}}</span>
					</div>
					<div class="profile__content__div__field">
						<span class="material-symbols-rounded">pin</span>
						<span class="profile__content__div__span">{{vehicle.getPlate()}}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="image">
			<span class="image__title">Profile QRCode</span>
			<hr class="image__title--hr">

			<hr class="image__hr">
			<img src="/static/media/QRCode{{+client.getId()+'.jpeg'}}" alt="QRCode" class="image__content">
		</div>

		<div class="image">
			<span class="image__title">Pix QRCode</span>
			<hr class="image__title--hr">

			<hr class="image__hr">
			<img src="/static/media/QRCode{{+client.getId()+'.jpeg'}}" alt="QRCode" class="image__content">
		</div>

		<!--Footer of the Page-->
		<footer class="footer">
			<span class="author">© 2022 Minerva Parking - All rights reserved.</span>
		</footer>

		<!--Navigation Bar Interactions Script-->
		<script src="/static/Nav.js"></script>
	</body>
</html>