<!DOCTYPE html>
<html>
	<!--Head of the Page-->
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
		<link rel="shortcut icon" href="/static/Media/Favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/Norm.css">
		<link rel="stylesheet" href="/static/Register.css">
		<title>Minerva Parking</title>
	</head>

	<!--Body of the Page-->
	<body>
		<!--Navigation Bar-->
		<nav class="nav">
			<img src="/static/Media/Logo.png" alt="logo-image" class="nav__logo">
			<ul class="nav__content">
				<a class="nav__content__link" href="/login">
					<span class="material-symbols-rounded">space_dashboard</span>
					<span class="nav__content__link__text">Dashboard</span>
				</a>
				<a class="nav__content__link" href="/login">
					<span class="material-symbols-rounded">analytics</span>
					<span class="nav__content__link__text">Analytics</span>
				</a>
				<a class="nav__content__link" href="/login">
					<span class="material-symbols-rounded">bike_scooter</span>
					<span class="nav__content__link__text">Vehicles</span>
				</a>
				<a class="nav__content__link" href="/about">
					<span class="material-symbols-rounded">help</span>
					<span class="nav__content__link__text">About</span>
				</a>
			</ul>
			<a class="nav__link" href="/login">Login</a>
		</nav>

		<!--Login Section-->
		<form class="login"  action="/userlogin" method="post">
			<span class="login__title">Sign Up</span>
			<div class="login__content">
				<span class="material-symbols-rounded">person</span>
				<input class="login__content__input" type="text" name="username" placeholder="Full Name">
			</div>
			<div class="login__content">
				<span class="material-symbols-rounded">call</span>
				<input class="login__content__input" type="text" name="tel" placeholder="Phone Number">
			</div>
			<div class="login__content">
				<span class="material-symbols-rounded">alternate_email</span>
				<input class="login__content__input" type="text" name="email" placeholder="Email Adress">
			</div>
			<div class="login__content">
				<span class="material-symbols-rounded">pin</span>
				<input class="login__content__input" type="password" name="password" placeholder="Password">
			</div>
			<input class="login__content__submit" type="submit" value="Register">
			<a class="login__new" href="/login">Already have an account?</a>
		</form>

		<!--Footer of the Page-->
		<footer class="footer">
			<span class="author">© 2022 Minerva Parking - All rights reserved.</span>
		</footer>
	</body>
</html>