<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
		<link rel="shortcut icon" href="/static/media/Favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/Norm.css">
		<link rel="stylesheet" href="/static/Register.css">
		<title>Minerva Parking</title>
	</head>
	<body>
		<main class="main">
			<form class="register"  action="/registerUser" method="post">
				<span class="register__title">Sign Up</span>
				<div class="register__content">
					<span class="material-symbols-rounded">person</span>
					<input class="register__content__input js--input" type="text" name="name" placeholder="Full Name" maxlength="50">
				</div>
				<div class="register__content">
					<span class="material-symbols-rounded">call</span>
					<input class="register__content__input js--input" type="text" name="phone" placeholder="Phone Number" maxlength="14">
				</div>
				<div class="register__content">
					<span class="material-symbols-rounded">alternate_email</span>
					<input class="register__content__input js--input" type="text" name="email" placeholder="Email Adress" maxlength="50">
				</div>
				<div class="register__content">
					<span class="material-symbols-rounded">pin</span>
					<input class="register__content__input js--input" type="password" name="password" placeholder="Password" maxlength="50">
				</div>
				<input class="register__content__submit js--submit" type="submit" value="Register" disabled="true">
				<a class="register__new" href="/login">Already have an account?</a>
			</form>
		</main>
		<script src="/static/Register.js"></script>
	</body>
</html>